/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px; 
    text-align: center; 
    color: black; 

  }
  
  table {
      display: block;
    margin: 30px auto;
    border-collapse: collapse;
    width: fit-content;
    max-height: 550px;
    overflow-y:scroll;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .cli{
      width :max-content;
  }
.carga {
    font-size:15px;
    width: max-content;
    max-height: 400px;
}

  th,td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #0f4c81;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .btn {
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .btn-editar {
    background-color: #ffa500;
    color: #fff;
    margin-right: 5px;
  }

.busca {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 20%;
}

.buscacli {
    
    font-family: arial;
    font-size: 18px;
    padding-right: 10%;
    margin: auto;
    width:70%;
    margin-top: 10%;
}

.tablabus {
    padding-left:15%;
}
.cargacli{
}
  .btn-danger {
    background-color: #ff4500;
    color: #fff;
  }



  .btn-agregar {
    display: block;
    margin: 30px auto;
    background-color: #0f4c81;
    color: #fff;
    max-width:fit-content;
  }
  

  .holder {
    margin:auto;
    margin-top:100px;
    font-size:20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width:fit-content
  }
  
  .formulario-titulo {
    text-align: center;
    margin-bottom: 20px;
  }

.formulario-campos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .formulario-campos.botelim {
        flex-wrap: nowrap;
    }

.formulario-campo {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}
  
.eliminaral{
    width:100%;
    height:100%;
}

  .formulario-campo label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario-campo input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
  }

.formulario-botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

#eid{
    width:fit-content;
}
  
  .formulario-botones button {
    margin-left: 10px;
  }

#togglePassword {
    margin-left: -30px;
    cursor: pointer;
}