@model Usuario
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="holder">
    <div class="form-group">
        <h2 class="formulario-titulo">Agregar usuario</h2>

        <form asp-action="Guardar" asp-controller="Usuarios" method="post">
            <div class="formulario-campos">
                <div class="formulario-campo">
                    <label for="desc">Usuario:</label>
                    <input type="text" id="desc" asp-for="umail" class="form-control" placeholder="Ingresar usuario" required>
                </div>
                <div class="formulario-campo">
                    <label for="precio">Contraseña (mínimo 8 caracteres):</label>
                    <input type="password" id="pas" asp-for="upass" class="form-control" minlength="8" placeholder="Ingresar contraseña" required>
                </div>
            </div>
            <div class="formulario-botones">
                <button type="submit" class="btn btn-guardar btn-primary">Guardar</button>
                <a asp-action="Listar" asp-controller="Usuarios" class="btn btn-cancelar btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

