@model ClientesModels
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="holder">
    <div class="form-group">
        <h2 class="formulario-titulo">Editar cliente</h2>

        <form asp-action="Editar" asp-controller="Clientes" method="post">
            <div class="formulario-campos">
                <div class="formulario-campo">

                    <label for="nombre">Nombre(s):</label>
                    <input type="text" id="nombre" asp-for="Nombre" class="form-control" required>
                </div>
                <div class="formulario-campo">
                    <label for="desc">Apellido paterno:</label>
                    <input type="text" id="desc" asp-for="ApellidoP" class="form-control" required>
                </div>
                <div class="formulario-campo">
                    <label for="precio">Apellido materno:</label>
                    <input type="text" id="precio" asp-for="ApellidoM" class="form-control" required>
                </div>
                <div class="formulario-campo">
                    <label for="stock">Teléfono:</label>
                    <input type="text" id="stock" asp-for="Tel" class="form-control" required>
                </div>
            </div>
            <div class="formulario-botones">
                <input type="number" id="eid" asp-for="Id" class="form-control" placeholder="ID" readonly style="width: 20%;">
                <button type="submit" class="btn btn-guardar btn-primary">Guardar</button>
                <a asp-action="Listar" asp-controller="Clientes" class="btn btn-cancelar btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

